nav {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: transparent;
  line-height: 150px;
  z-index: 3;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav ul li {
  display: block;
  width: 10%;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

nav ul li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  padding-right: 35px;
  text-decoration: none;
  color: black;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

nav ul li:hover a {
  color: white;
  text-shadow: 0 0 0.1em black;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.logo {
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-transform: translate(20%, 10%);
          transform: translate(20%, 10%);
  border: 2px solid black;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-active {
  background-color: #fff;
  opacity: .95;
  height: 100px;
  line-height: 100px;
}

.logo-active {
  height: 80px;
  width: 80px;
}

.burger {
  display: none;
}

@media screen and (max-width: 1400px) {
  nav ul li {
    width: 15%;
  }
}

@media screen and (max-width: 500px) {
  #navigation {
    display: none;
  }
  .burger {
    display: block;
    font-size: 40px;
    z-index: 4;
    height: 10vh;
  }
  .burger i {
    position: absolute;
    top: 5vh;
    right: 5vh;
    -webkit-transition: .3s;
    transition: .3s;
    color: white;
    text-shadow: 0.08em 0.08em 0.15em black;
  }
  .burger i:hover {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}

.information {
  position: relative;
  width: 100%;
  height: 80%;
  top: 20%;
  z-index: 2;
}

article {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 18%;
}

article p {
  font-size: 30px;
  font-family: 'Source Code Pro', monospace;
  line-height: 30px;
  color: black;
  text-shadow: 0.1em 0.1em 0.2em black;
}

h1 {
  position: absolute;
  font-size: 180px;
  font-family: 'Source Code Pro', monospace;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em black;
  opacity: 0;
  -webkit-animation: h1Show 1s linear forwards;
          animation: h1Show 1s linear forwards;
}

h1.mostek {
  top: 10%;
  left: 45%;
}

h1.przemka {
  top: 35%;
  left: 42%;
}

.rectangle {
  position: absolute;
  width: 1000px;
  height: 330vh;
  background-color: #3b83e0;
  top: -30%;
  left: 30%;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  z-index: -1;
}

.arrow {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  font-size: 40px;
  color: white;
  background-color: #3b83e0;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  z-index: 2;
}

.arrow a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
}

.arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

i.fa-angle-down {
  -webkit-animation: down 1s linear infinite;
          animation: down 1s linear infinite;
  text-shadow: 0 -15px 0 white, 0 -30px 0 white;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@-webkit-keyframes h1Show {
  100% {
    opacity: 1;
  }
}

@keyframes h1Show {
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
  article {
    top: 5%;
    width: 23%;
  }
  h1.mostek {
    left: 35%;
  }
  h1.przemka {
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  p {
    display: none;
  }
  h1.mostek {
    font-size: 80px;
    left: 10%;
  }
  h1.przemka {
    font-size: 80px;
    left: 4%;
  }
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #3b83e0;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

main h1 {
  position: relative;
  left: 13%;
  top: 14%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 50px;
  display: inline-block;
}

main h1 .after {
  position: absolute;
  background-color: #3b83e0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid white;
}

main .typing {
  -webkit-animation: cursor 0.8s linear infinite, typing 3s steps(19) forwards;
          animation: cursor 0.8s linear infinite, typing 3s steps(19) forwards;
}

main .container {
  position: absolute;
  background-image: url(/img/pitchbgyellow.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  width: 70%;
  height: 70%;
  top: 25%;
  left: 15%;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
}

main .container .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .role {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  background-color: #e6e61c;
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

main .container .role:hover {
  background-color: #f0f05e;
  cursor: pointer;
}

main .container .role-active {
  background-color: transparent;
}

main .container .keepers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 100px);
}

main .container .keepers .player {
  height: 320px;
  width: 320px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

main .container .keepers .player img {
  margin-top: 15px;
  height: 260px;
  width: 260px;
}

main .container .keepers .player h3 {
  font-family: 'Source Code Pro', monospace;
}

main .container .defenders {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 100px);
  -webkit-transition: .5s;
  transition: .5s;
}

main .container .defenders .player {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

main .container .defenders .player img {
  margin-top: 15px;
  height: 175px;
  width: 175px;
}

main .container .defenders .player h3 {
  font-family: 'Source Code Pro', monospace;
}

main .container .midfielders {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 100px);
}

main .container .midfielders .player {
  height: 280px;
  width: 280px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

main .container .midfielders .player img {
  margin-top: 15px;
  height: 195px;
  width: 195px;
}

main .container .midfielders .player h3 {
  font-family: 'Source Code Pro', monospace;
}

main .container .strikers {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 100px);
}

main .container .strikers .player {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

main .container .strikers .player img {
  margin-top: 15px;
  height: 175px;
  width: 175px;
}

main .container .strikers .player h3 {
  font-family: 'Source Code Pro', monospace;
}

@-webkit-keyframes cursor {
  0% {
    border-color: transparent;
  }
  10% {
    border-color: transparent;
  }
  25% {
    border-color: white;
  }
  75% {
    border-color: white;
  }
  90% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  10% {
    border-color: transparent;
  }
  25% {
    border-color: white;
  }
  75% {
    border-color: white;
  }
  90% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
  }
}

@keyframes typing {
  100% {
    left: 100%;
  }
}

@-webkit-keyframes back {
  100% {
    right: 100%;
  }
}

@keyframes back {
  100% {
    right: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .printed {
    left: 25%;
  }
}

@media screen and (max-width: 500px) {
  .printed {
    font-size: 40px;
    left: 48%;
  }
}

#gallery {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #e6e61c;
  z-index: 1;
}

#gallery h1 {
  position: absolute;
  left: 40%;
  top: 11%;
  font-size: 50px;
}

#gallery .photos {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 75%;
  width: 90%;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#gallery .photos a {
  position: relative;
  -ms-flex-preferred-size: calc(25% - 40px);
      flex-basis: calc(25% - 40px);
  margin: 0 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

#gallery .photos a .opis {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 260px;
  width: 360px;
  font-size: 25px;
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
  line-height: 130px;
  opacity: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-transition: .3s;
  transition: .3s;
}

#gallery .photos a img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  height: 260px;
  width: 360px;
  border: 2px solid white;
  border-radius: 20px;
}

#gallery .photos a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 3;
}

#gallery .photos a:hover .opis {
  opacity: 0.7;
  z-index: 3;
}

footer {
  position: relative;
  height: 20vh;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

footer p {
  font-size: 40px;
  padding-top: 20px;
}

footer .facebook {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  top: 10%;
  left: calc(50% - 20px);
  font-size: 20px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

footer .facebook a {
  position: relative;
  color: black;
  display: block;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

footer .facebook a i {
  position: absolute;
  top: 48%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .facebook:hover {
  background-color: #2c62c7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(/img/pitchbgyellow.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 320vh;
  overflow-x: hidden;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */